<div class="stats">
    <div *ngIf="calculationResult">
      <p>Strength: {{ calculationResult.stats.Strength }}</p>
      <p>Vigor: {{ calculationResult.stats.Vigor }}</p>
      <p>Agility: {{ calculationResult.stats.Agility }}</p>
      <p>Dexterity: {{ calculationResult.stats.Dexterity }}</p>
      <p>Will: {{ calculationResult.stats.Will }}</p>
      <p>Knowledge: {{ calculationResult.stats.Knowledge }}</p>
      <p>Resourcefulness: {{ calculationResult.stats.Resourcefulness }}</p>

      <h2>----------------------------------------------</h2>
        <p>Health: {{ calculationResult.computedstats.Health }}</p>
    
        <p>Physical Healing: {{ calculationResult.computedstats.PhysicalHealing }} </p>

        <p>Magical Healing: {{ calculationResult.computedstats.MagicalHealing }}</p>
	
	      <p>Memory Capacity: {{ calculationResult.computedstats.MemoryCapacity }}</p>

        <p>Memory Spell Payload: </p>

        <p>Memory Music Payload: </p>

        <p>Utility Effectiveness: </p>

        <p>Luck: {{ calculationResult.computedstats.Luck }}</p>
	
	      <p>Health Recovery Bonus: {{ calculationResult.computedstats.HealthRecovery }}%</p>
	
	      <p>Spell Recovery : {{ calculationResult.computedstats.SpellRecovery }} %</p>
	
	      <p>Move Speed: {{ calculationResult.computedstats.MoveSpeed }} </p>
	
	      <p>Move Speed Percentage: {{ calculationResult.computedstats.MoveSpeedCalc }}%</p>
	
        <p>Action Speed: {{ calculationResult.computedstats.ActionSpeed }}%</p>
	
	      <p>Manual Dexterity: {{ calculationResult.computedstats.ManualDexterity }}%</p>
	
	      <p>Spell Casting Speed: {{ calculationResult.computedstats.SpellCastingSpeed }}%</p>
	
	      <p>Equip Speed: {{ calculationResult.computedstats.EquipSpeed }}%</p>
	
	     <p>Regular Interaction Speed: {{ calculationResult.computedstats.RegularInteractionSpeed }}%</p>
	
	      <p>Magical Interaction Speed: {{ calculationResult.computedstats.MagicalInteractionSpeed }}%</p>
	
	      <p>Persuasiveness: {{ calculationResult.computedstats.Persuasiveness }}</p>
	
	      <p>Buff Duration: {{ calculationResult.computedstats.BuffDuration }}%</p>
	
	      <p>Debuff Duration: {{ calculationResult.computedstats.DebuffDuration }}%</p>
	
	      <p>Cooldown Reduction: {{ calculationResult.computedstats.CooldownReduction }}%</p>

        <p>Armor Penertation: {{ calculationResult.computedstats.ArmorPenetration }} %</p>

        <p>Magic Penetration: {{ calculationResult.computedstats.MagicPenetration}} % </p>

        <p>Headshot Reduction: {{ calculationResult.computedstats.HeadshotReduction}} % </p>

        <p>Projectile Damage Reduction: {{ calculationResult.computedstats.ProjectileReduction}} %</p>

        <p>Physical Damage Reduction {{ calculationResult.computedstats.PhysicalDamageReduction }}% </p>

        <p>From Armor Rating: {{ calculationResult.computedstats.FromArmorRating }} </p>

        <p>From Bonuses: {{ calculationResult.computedstats.BonusPhysicalDamageReduction }} %</p>

        <p>Magic Resistance: {{ calculationResult.computedstats.MagicalDamageReduction }} %</p>

        <p>From Magic Rating: {{ calculationResult.computedstats.MagicRating }} </p> 

        <p>From Bonuses:  {{ calculationResult.computedstats.BonusMagicalDamageReduction}} %</p>

	      <p>Physical Power Bonus: {{ calculationResult.computedstats.PhysicalPowerBonus }} % </p>
    
        <p>From Physical Power: {{ calculationResult.computedstats.PhysicalPower }}</p>

        <p>From Bonuses:{{ calculationResult.computedstats.BonusPhysicalPower}}</p>

        <p>Magical Power Bonus: {{ calculationResult.computedstats.MagicalPowerBonus }}%</p>
	
        <p>From Magical Power: {{ calculationResult.computedstats.MagicalPower}}</p>

        <p>From Bonuses: {{ calculationResult.computedstats.BonusMagicalPower}} </p>
    </div>
  </div>
