<div class="stats">
    <div *ngIf="calculationResult">
      <div class="stat-row">
        <span class="stat-name">Strength:</span>
        <span class="stat-value">{{ calculationResult.stats.Strength }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Vigor:</span>
        <span class="stat-value">{{ calculationResult.stats.Vigor }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Agility:</span>
        <span class="stat-value">{{ calculationResult.stats.Agility }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Dexterity:</span>
        <span class="stat-value">{{ calculationResult.stats.Dexterity }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Will:</span>
        <span class="stat-value">{{ calculationResult.stats.Will }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Knowledge:</span>
        <span class="stat-value">{{ calculationResult.stats.Knowledge }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Resourcefulness:</span>
        <span class="stat-value">{{ calculationResult.stats.Resourcefulness }}</span>
      </div>

      <h2>----------------------------------------------</h2>
      <div class="stat-row">
        <span class="stat-name">Health:</span>
        <span class="stat-value">{{ calculationResult.computedstats.Health }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Physical Healing:</span>
        <span class="stat-value">{{ calculationResult.computedstats.PhysicalHealing }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Magical Healing:</span>
        <span class="stat-value">{{ calculationResult.computedstats.MagicalHealing }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Memory Capacity:</span>
        <span class="stat-value">{{ calculationResult.computedstats.MemoryCapacity }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Memory Spell Payload:</span>
        <span class="stat-value"></span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Memory Music Payload:</span>
        <span class="stat-value"></span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Utility Effectiveness:</span>
        <span class="stat-value"></span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Luck:</span>
        <span class="stat-value">{{ calculationResult.computedstats.Luck }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Health Recovery Bonus:</span>
        <span class="stat-value">{{ calculationResult.computedstats.HealthRecovery }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Spell Recovery:</span>
        <span class="stat-value">{{ calculationResult.computedstats.SpellRecovery }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Move Speed:</span>
        <span class="stat-value">{{ calculationResult.computedstats.MoveSpeed }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Move Speed Percentage:</span>
        <span class="stat-value">{{ calculationResult.computedstats.MoveSpeedCalc }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Action Speed:</span>
        <span class="stat-value">{{ calculationResult.computedstats.ActionSpeed }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Manual Dexterity:</span>
        <span class="stat-value">{{ calculationResult.computedstats.ManualDexterity }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Spell Casting Speed:</span>
        <span class="stat-value">{{ calculationResult.computedstats.SpellCastingSpeed }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Equip Speed:</span>
        <span class="stat-value">{{ calculationResult.computedstats.EquipSpeed }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Regular Interaction Speed:</span>
        <span class="stat-value">{{ calculationResult.computedstats.RegularInteractionSpeed }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Magical Interaction Speed:</span>
        <span class="stat-value">{{ calculationResult.computedstats.MagicalInteractionSpeed }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Persuasiveness:</span>
        <span class="stat-value">{{ calculationResult.computedstats.Persuasiveness }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Buff Duration:</span>
        <span class="stat-value">{{ calculationResult.computedstats.BuffDuration }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Debuff Duration:</span>
        <span class="stat-value">{{ calculationResult.computedstats.DebuffDuration }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Cooldown Reduction:</span>
        <span class="stat-value">{{ calculationResult.computedstats.CooldownReduction }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Armor Penetration:</span>
        <span class="stat-value">{{ calculationResult.computedstats.ArmorPenetration }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Magic Penetration:</span>
        <span class="stat-value">{{ calculationResult.computedstats.MagicPenetration }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Headshot Reduction:</span>
        <span class="stat-value">{{ calculationResult.computedstats.HeadshotReduction }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Projectile Damage Reduction:</span>
        <span class="stat-value">{{ calculationResult.computedstats.ProjectileReduction }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Physical Damage Reduction:</span>
        <span class="stat-value">{{ calculationResult.computedstats.PhysicalDamageReduction }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">From Armor Rating:</span>
        <span class="stat-value">{{ calculationResult.computedstats.FromArmorRating }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">From Bonuses:</span>
        <span class="stat-value">{{ calculationResult.computedstats.BonusPhysicalDamageReduction }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Magic Resistance:</span>
        <span class="stat-value">{{ calculationResult.computedstats.MagicalDamageReduction }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">From Magic Rating:</span>
        <span class="stat-value">{{ calculationResult.computedstats.MagicRating }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">From Bonuses:</span>
        <span class="stat-value">{{ calculationResult.computedstats.BonusMagicalDamageReduction }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Physical Power Bonus:</span>
        <span class="stat-value">{{ calculationResult.computedstats.PhysicalPowerBonus }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">From Physical Power:</span>
        <span class="stat-value">{{ calculationResult.computedstats.PhysicalPower }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">From Bonuses:</span>
        <span class="stat-value">{{ calculationResult.computedstats.BonusPhysicalPower }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">Magical Power Bonus:</span>
        <span class="stat-value">{{ calculationResult.computedstats.MagicalPowerBonus }}%</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">From Magical Power:</span>
        <span class="stat-value">{{ calculationResult.computedstats.MagicalPower }}</span>
      </div>
      <div class="stat-row">
        <span class="stat-name">From Bonuses:</span>
        <span class="stat-value">{{ calculationResult.computedstats.BonusMagicalPower }}</span>
      </div>
    </div>
  </div>
