.equipment-box {
    position: relative;
    border: 2px solid #ccc;
    cursor: pointer;
    width: 100px;
    height: 100px;
  }
  
  .equipment-box {
    position: relative;
    cursor: pointer;
  }
  
  .equipment-image {
    width: 100px; /* Adjust as needed */
    height: 100px;
  }
  
  .equipment-list {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .equipment-item {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .equipment-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    padding: 20px;
  }
  
  .modal-content {
    text-align: center;
  }
  
  .modal-image {
    width: 50px;
    height: 50px;
    margin: 10px 0;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
  }
  
  .rarity-poor {
    border: 2px solid #473737; /* grey */
  }
  
  .rarity-common {
    border: 2px solid #f3eeee; /* white */
  }
  
  .rarity-uncommon {
    border: 2px solid #90ee90; /* Light green */
  }
  
  .rarity-rare {
    border: 2px solid #87ceeb; /* Sky blue */
  }
  
  .rarity-epic {
    border: 2px solid #9370db; /* Medium purple */
  }
  
  .rarity-legendary {
    border: 2px solid #ffa500; /* Orange */
  }
  
  .rarity-unique {
    border: 2px solid #ece7b4ec;
  }