<div class="equipment-box head-box" [ngClass]="rarityBoxColor()">
    <img
      [src]="selectedItem?.image || 'assets/placeholder.png'"
      alt="Head Item"
      class="equipment-image"
    />
    @if (showList) {
      <div class="equipment-list"  >
        @for (item of listCharacters; track item.name) {
          <div (click)="selectItem(item)" class="equipment-item">
            <img [src]="item.image" [alt]="item.name" />
            <span>{{ item.name }}</span>
          </div>
        }
      </div>
    }
    @if (showContextMenu && selectedItem) {
      <div class="modal-box">
        <div class="modal-content">
          <h3>{{ selectedItem.name || 'No Item Selected' }}</h3>
          <img [src]="selectedItem.image" [alt]="selectedItem.name" class="modal-image" />
            <div class = "rarity-select">
              <label for="rarity-select">Rarity:</label>
              <select id="rarity-select" [(ngModel)]="selectedRarity" (ngModelChange)="onChangeRarity($event)">
                @for (list of rarityHead; track $index) {
                  <option [value]="$index">{{ list }}</option>
                }
              </select>
            </div>
            @if(selectedRarity){
              <div class = "enchantment-select">
                <label for="enchantment-select">Enchantment:</label>
                <select id="enchantment-select" [(ngModel)]="selectedRatingIndex" (ngModelChange)="onChangeEnchantment($event)">
                  @for (list of listEnchantments ; track $index) {
                    <option [value]="$index">{{ list }}</option>
                   } 
                 </select>
              </div>
            }
        </div>
      <div class="button-close">
        <button (click)="showContextMenu = false">Close</button>
      </div>
      </div>
    }
</div>