*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: 
    url('assets/black-paper.png') center/cover no-repeat fixed,
    linear-gradient(to bottom, #0a0a0a, #1a1a1a);
  color: white; /* Light text for contrast */
  font-family: 'Cinzel', serif; /* Fantasy-style font (optional) */
}

* {
  margin: 0;
  padding: 0;
}

