.equipment-boxes {
  position: relative;
  display: flex;
  border: 1px solid #ccc;
  width: 400px;
  height: 750px;
  background-color: #f5f5f5;
  margin : auto
}

head-box {
  position: absolute;
  top: 20px;
  left: 150px;
}

necklace-box {
  position: absolute;
  top: 70px;
  left: 260px;
}

chest-box {
  position: absolute;
  top: 140px;
  left: 150px;
}

gloves-box {
  position: absolute;
  top: 240px;
  left: 40px;
}

ring-box {
  position: absolute;
  top: 390px;
  left: 90px;
}

ring-box-two {
  position: absolute;
  top: 390px;
  left: 260px;
}

pants-box {
  position: absolute;
  top: 390px;
  left: 150px;
}

boots-box {
  position: absolute;
  top: 610px;
  left: 150px;
}

cloak-box {
  position: absolute;
  top: 240px;
  left: 260px;
  
}

primary-weapon-box {
  position: absolute;
  top: 70px;
  left: 40px;
}

