<!-- Character Selection -->
 <app-character-box (characterSelected)="onCharacterSelected($event)"></app-character-box>
<!-- Equipment Boxes -->
<div class="equipment-boxes">
  <head-box 
    [classSelection]="selectedCharacterIndex" 
    (itemSelected)="onItemSelected_Helmet('itemhelmet', $event)"
    (raritySelected)="onRaritySelected('rarityselect_helmet', $event)"
    (ratingSelected)="onRatingSelected('armorrating_helmet', $event)"
    
  > </head-box>
  <chest-box 
    [classSelection]="selectedCharacterIndex"
    (itemSelected)="onItemSelected_Chest('itemchest', $event)"
    (raritySelected)="onRaritySelected('rarityselect_chest', $event)"
    (ratingSelected)="onRatingSelected('armorrating_chest', $event)"
    
  > </chest-box>
  <gloves-box 
    [classSelection]="selectedCharacterIndex"
    (itemSelected)="onItemSelected_Gloves('itemgloves', $event)"
    > </gloves-box>
</div>