<!-- Character Selection -->
 <app-character-box (characterSelected)="onCharacterSelected($event)"></app-character-box>
<!-- Equipment Boxes -->
<div class="equipment-boxes">
  <head-box 
    [classSelection]="selectedCharacterIndex" 
    (itemSelected)="onItemSelected_Helmet('itemhelmet', $event)"
    (raritySelected)="onRaritySelected('rarityselect_helmet', $event)"
    (ratingSelected)="onRatingSelected('armorrating_helmet', $event)"
  > </head-box>
  <chest-box 
    [classSelection]="selectedCharacterIndex"
    (itemSelected)="onItemSelected_Chest('itemchest', $event)"
    (raritySelected)="onRaritySelected('rarityselect_chest', $event)"
    (ratingSelected)="onRatingSelected('armorrating_chest', $event)"
  > </chest-box>
  <gloves-box 
    [classSelection]="selectedCharacterIndex"
    (itemSelected)="onItemSelected_Chest('itemgloves', $event)"
    (raritySelected)="onRaritySelected('rarityselect_gloves', $event)"
    (ratingSelected)="onRatingSelected('armorrating_gloves', $event)"
    > </gloves-box>
  <pants-box
    [classSelection]="selectedCharacterIndex"
    (itemSelected)="onItemSelected_Chest('itempants', $event)"
    (raritySelected)="onRaritySelected('rarityselect_pants', $event)"
    (ratingSelected)="onRatingSelected('armorrating_pants', $event)"
  > </pants-box>
  <necklace-box
  [classSelection]="selectedCharacterIndex"
  (itemSelected)="onItemSelected_Chest('itemnecklace', $event)"
  (raritySelected)="onRaritySelected('rarityselect_necklace', $event)"

> </necklace-box>

</div>